<form action="@Url.Content("~/BankMarkazi/pay")" method="post">
    <table>
        <tr>
            <td>
                <div class="tag">
                    کد تراکنش
                </div>
            </td>
            <td>
                <div class="tag">
                    @Session["Tax"].ToString()
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="tag">
                    مبلغ پرداخت
                </div>
            </td>
            <td>
                <div class="tag">
                    @Convert.ToDouble(Session["Amount"]).ToString("#,###")
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                لطفا کد تراکنش را جهت پیگیری های بعدی یادداشت فرمائید.
                <br />
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <input type="submit" id="Run" name="Run" value="پرداخت" class="run" />
            </td>
        </tr>
    </table>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Run').button();
    });
</script>