@using Kendo.Mvc.UI;
<div class="modal" id="RptBarcode">
    <script src="@Url.Content("~/Content/Base.js")" type="text/javascript"></script>    
    <div>    
        <br />
        <center>
            <table>   
                <tr>
                    <td align="left"> 
                       گروه کاربری:
                    </td>
                    <td>
                         @(Html.Kendo().DropDownList()
                            .Name("cboType")
                            .OptionLabel("نوع کاربری...")
                            .BindTo(new List<SelectListItem>() {
                                new SelectListItem() {
                                    Text = "دانشجو",
                                    Value = "1"
                                },
                                new SelectListItem() {
                                    Text = "استاد",
                                    Value = "2"
                                },
                                new SelectListItem() {
                                    Text = "کارمند",
                                    Value = "3"
                                }
                            })                    
                        )   
                    </td>                    
                </tr>
                    
            </table>
            <p>
                @UniAutomation.Helper.winClass.Buttons("Preview", "نمایش", "yes")
                @UniAutomation.Helper.winClass.Buttons("exit", "خروج", "Exit")
            </p>
        </center>
   
    </div>
    <script type="text/javascript">
        $("document").ready(function () {
            $("#Preview").button();
            $("#exit").button();

            $("#exit").click(function () {
                $("#RptEtebar").remove();
            });
           
            $("#Preview").click(function () {
                window.open('/faces/RptReserv/GroupBarcode/' + $('#cboType').val());
            });

        });
  
    </script>
</div>
